In [1]:
import pandas as pd
import os
from tqdm import tqdm

In [11]:
train = pd.read_csv("r52-dev-stemmed.csv")

In [12]:
train.head()

,text,edge,intent
0,conolog corp cnlg qtr jan net shr two ct two c...,conolog corp cnlg qtr jan net shr two ct two c...,earn
1,banker trust rais prime lend rate banker trust...,banker trust rais prime lend rate banker trust...,interest
2,boatmen nation bank boat rais prime boatmen ba...,boatmen nation bank boat rais prime boatmen ba...,interest
3,unicorp vote stake hike union enterpris union ...,unicorp vote stake hike union enterpris union ...,acq
4,starrett hous corp sho qtr net oper shr ct ct ...,starrett hous corp sho qtr net oper shr ct ct ...,earn

In [13]:
new_df = pd.DataFrame({"text": train['text'].tolist(), "label":train['intent'].tolist()})
new_df.head()

                                                text     label
0  conolog corp cnlg qtr jan net shr two ct two c...      earn
1  banker trust rais prime lend rate banker trust...  interest
2  boatmen nation bank boat rais prime boatmen ba...  interest
3  unicorp vote stake hike union enterpris union ...       acq
4  starrett hous corp sho qtr net oper shr ct ct ...      earn

In [14]:
new_df.to_csv("dev.csv",index=False)